---
import Layout from "../layouts/Layout.astro";
import Welcome from "../components/Welcome.astro";
import Frank from "../components/Frank.astro";
import Robots from "../components/Robots.astro";
import Services from "../components/Services.astro";
import WhatsIncluded from "../components/WhatsIncluded.astro";
import StartNow from "../components/StartNow.astro";
import LiveResults from "../components/LiveResults.astro";
import { TalkWithFrank } from "../components/TalkWithFrank";
---

<Layout title="Frank Bots Maker">
  <main>
    <Welcome />
    <Frank />
    <Robots />
    <WhatsIncluded />
    <Services />
    <StartNow />
    <LiveResults />
    <TalkWithFrank client:visible />
  </main>
</Layout>

<style>
  main {
    display: flex;
    flex-direction: column;
    padding: 4rem;
  }
</style>
../components/TalkWithFrank.tsx
../components/TalkWithFrank/TalkWithFrank