---
import Layout from "../layouts/Layout.astro";
import Welcome from "../components/Welcome.astro";
import Frank from "../components/Frank.astro";
import Robots from "../components/Robots.astro";
import Services from "../components/Services.astro";
import StartNow from "../components/StartNow.astro";
import TalkWithFrank from "../components/TalkWithFrank.astro";
---

<Layout title="Frank Bots Maker">
  <main>
    <Welcome />
    <Frank />
    <Robots />
    <Services />
    <StartNow />
    <TalkWithFrank />
  </main>
</Layout>

<style>
  main {
    display: flex;
    flex-direction: column;
    padding: 4rem;
  }
</style>
