---
import Layout from "../layouts/Layout.astro";
import Welcome from "../components/Welcome.astro";
import Frank from "../components/Frank.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <Welcome />
    <Frank />
  </main>
</Layout>

<style>
  main {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 4rem;
  }
</style>
