<section id="live-results" class="results">
  <h3>MY live results</h3>

  <span>
    Here you will find my daily results that have been posted every day
    consecutively for more than a year, where we show profits and losses in a
    100% transparent way!
  </span>

  <img src="/assets/results.jpg" />

  <a href="https://t.me/MYEASRESULTS"> Join results channel</a>
</section>

<style>
  @import "../globals.css";

  .results {
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 1rem;
    font-family: "N27";

    h3 {
      font-family: "Good times";
      text-transform: uppercase;
      font-size: 32px;
    }

    span {
      max-width: 450px;
      color: var(--color-2);
    }

    img {
      margin: 1rem 0;
      height: 600px;
      -o-object-fit: contain;
      object-fit: contain;
    }

    a {
      font-size: 18px;
      text-decoration: none;
      color: var(--color-3);
      padding: 0.3rem 0.6rem;
      border: 3px solid var(--color-3);
      border-radius: 16px;
      transition-duration: 0.3s;
      text-transform: uppercase;

      &:hover {
        transform: scale(1.04);
      }
    }
  }

  @media (max-width: 450px) {
    .results {
      h3 {
        font-size: 24px;
      }
    }
  }
</style>
