---
import { navLinks } from "../utils/navLinks";
---

<nav class="nav">
  <div class="title">
    <div class="line"></div>
    <p>A proyect made by <br /> <b>Frank bots maker</b></p>
  </div>

  <div class="links">
    {
      navLinks.map((link) => (
        <a class="link" href={link.href}>
          {link.title}
        </a>
      ))
    }
  </div>
</nav>

<style>
  @import "../globals.css";

  @media (max-width: 699px) {
    .nav {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      text-transform: uppercase;
      font-family: "Good times";

      .title {
        padding: 1rem 2.5rem;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        gap: 0.5rem;
        color: white;

        .line {
          height: 1.5px;
          width: 100%;
          background-color: var(--color-3);
        }

        p {
          text-align: center;

          b {
            color: var(--color-3);
          }
        }
      }

      .links {
        display: flex;
        flex-wrap: wrap;

        .link {
          width: 50%;
          text-decoration: none;
          color: inherit;
          color: white;
          padding: 0.5rem 1.5rem;
          border-right: 1px solid var(--color-3);
          border-top:  1px solid var(--color-3);
          transition-duration: 0.3s;
          text-align: center;

          &:nth-child(2),
          &:nth-child(4) {
            border-right: none;
          }
          &:last-child {
            border-top: 1px solid var(--color-3);
            border-right: none;
            flex: 1;
          }

          &:hover {
            background-color: var(--color-3);
            color: black;
          }
        }
      }
    }
  }

  @media (min-width: 700px) and (max-width: 1299px) {
    br {
      display: none;
    }
    .nav {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      padding: 1rem 2.5rem;
      text-transform: uppercase;
      font-family: "Good times";

      .title {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        gap: 0.5rem;
        color: white;

        .line {
          height: 1.5px;
          width: 100%;
          background-color: var(--color-3);
        }

        p {
          white-space: nowrap;

          b {
            color: var(--color-3);
          }
        }
      }

      .links {
        margin-top: 1rem;
        display: flex;

        .link {
          display: flex;
          align-items: center;
          justify-content: center;
          text-decoration: none;
          text-align: center;
          color: inherit;
          color: white;
          padding: 0.5rem 1.5rem;
          border-right: 1px solid var(--color-3);
          transition-duration: 0.3s;

          &:last-child {
            border-right: none;
          }

          &:hover {
            background-color: var(--color-3);
            color: black;
          }
        }
      }
    }
  }
  @media (min-width: 1300px) {
    br {
      display: none;
    }
    .nav {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 1rem 2.5rem;
      text-transform: uppercase;
      font-family: "Good times";

      .title {
        display: flex;
        align-items: center;
        gap: 1rem;
        color: white;

        .line {
          height: 1.5px;
          width: 175px;
          background-color: var(--color-3);
        }

        p {
          white-space: nowrap;

          b {
            color: var(--color-3);
          }
        }
      }

      .links {
        display: flex;

        .link {
          display: flex;
          align-items: center;
          text-decoration: none;
          color: inherit;
          color: white;
          padding: 0.5rem 1.5rem;
          border-right: 1px solid var(--color-3);
          transition-duration: 0.3s;

          &:last-child {
            border-right: none;
          }

          &:hover {
            background-color: var(--color-3);
            color: black;
          }
        }
      }
    }
  }
</style>
