---
interface Props {
  text: string;
  color: string;
}

const { text, color } = Astro.props;
const props = Object.entries(text);
---

<div class="description">
  {
    props.map(([key, value]) => (
      <div class="line">
        <p class="key">{key}</p>
        <p style={{ color }} class="value">
          {value}
        </p>
      </div>
    ))
  }
</div>

<style>
  .description {
    margin: 0.5rem 0;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    color: white;

    .line {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 1rem;

      .key {
        text-align: left;
      }

      .value {
        text-align: right;
      }
    }
  }
</style>
