<section id="services" class="section my-services">
  <h3 class="title">My Services</h3>
  <span class="description">
    <b class="subtitle">Pass your challenge:</b>
    Using our star robot ZAFIRO-V5, we pass your challenge of any size and from any
    company. If your challenge is HFT we will pass it in just one hour and if your
    challenge is not of this methodology we will pass it between 5 to 10 business
    days.
  </span>

  <span class="description">
    <b class="subtitle">Real account management:</b>
    Here we also use our star robot but in this case for real accounts of any company
    where you only pay us our cost to start operating the account but all the profits
    generated will be for you since it is your account and you manage everything.
    We will simply operate, generating your profits automatically.
  </span>

  <b class="subtitle">Foy any company thah accept eas</b>
</section>

<style>
  @import "../globals.css";

  .my-services {
    padding: 2rem 0;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "N27";
    text-align: center;
    gap: 1rem;

    .description {
      max-width: 1000px;
      font-size: 16px;
    }

    .title {
      font-family: "Good times";
      font-size: 32px;
      padding-bottom: 1rem;
    }

    .subtitle {
      color: var(--color-2);
      text-transform: uppercase;
    }
  }

  @media (max-width: 450px) {
    .my-services {
      .title {
        font-size: 24px;
      }
    }
  }
</style>
