---
import { ServicesButtons } from "./ServicesButtons";
---

<section class="start-now">
  <h3>Start Now</h3>

  <ServicesButtons client:visible />
</section>
<style>
  @import "../globals.css";

  .start-now {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    padding: 2rem 0;
    color: white;
    font-family: "N27";
    text-align: center;
    gap: 1rem;
  }

  h3 {
    -webkit-text-fill-color: var(--color-3);
    font-family: "Retro gaming";
    text-transform: uppercase;
    font-size: 32px;
    padding-bottom: 1rem;
  }
</style>
