---
import { ServicesButtons } from "./ServicesButtons";
---

<section class="section start-now">
  <h3 class="title">Start Now</h3>

  <ServicesButtons client:visible />
</section>
<style>
  @import "../globals.css";

  .start-now {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem 0;
    color: white;
    font-family: "N27";
    text-align: center;
    gap: 1rem;
  }

  .title {
    -webkit-text-fill-color: var(--color-3);
    font-family: "Retro gaming";
    text-transform: uppercase;
    font-size: 32px;
    padding-bottom: 1rem;
  }

  @media (max-width: 450px) {
    .title {
      font-size: 24px;
    }
  }
</style>
