<section class="welcome animate__animated animate__bounceInLeft">
  <h1 class="title">Welcome to <br /> Frank´s world!</h1>
  <span class="description">
    Discover the secrets of trading with Frank, the expert in trading robots
    based on Smart Money. <br /> With years of experience in the financial markets,
    Frank has developed a series of products and services <br /> designed to take
    your trading to the next level. From highly efficient trading robots to live
    account <br /> management services, Frank offers customized solutions for every
    trader.
  </span>
</section>

<style>
  @import "../globals.css";

  .welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    text-align: center;
    .title {
      color: white;
      text-transform: uppercase;
      font-family: "Good times";
      font-size: 32px;
    }

    .description {
      text-shadow: 2px 2px 20px var(--color-3);
      color: var(--color-3);
      font-family: "Retro gaming";
      font-size: 14px;

      br {
        display: none;
      }
    }
  }

  @media (min-width: 600px) {
    .welcome {
      width: 100%;
      align-items: flex-start;
      text-align: left;
    }
  }

  @media (min-width: 1300px) {
    .welcome {
      .title {
        font-size: 48px;
      }

      .description {
        font-size: 16px;
        br {
          display: block;
        }
      }
    }
  }
</style>
