<section class="includes">
  <h3>What is included in <br /> the purchase of <br /> my products?</h3>

  <span>
    Once the payment is made, the file compatible with Metatrader 4 and
    Metatrader 5 will be delivered immediately along with the installation
    manual in PDF format. You will also have exclusive customer support where
    you will be in permanent contact with the creator and developer of the
    products, Frank.
  </span>

  <div class="item">
    <h5 style="color: orange;">EX4 AND EX5</h5>

    <img style="max-width: 350px;" src="/assets/5.png" />
  </div>

  <div class="item">
    <h5 style="color: red;">Installation manual in PDF format.</h5>

    <img src="/assets/6.png" />
  </div>

  <div class="item">
    <h5 style="color: lightskyblue;">VPS included.</h5>

    <img src="/assets/7.png" />
  </div>

  <div class="item">
    <h5 style="color: lightskyblue;">Exclusive support.</h5>

    <img src="/assets/8.png" />
  </div>
</section>

<style>
  @import "../globals.css";

  .includes {
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 1rem;
    font-family: "N27";

    h3 {
      font-family: "Good times";
      text-transform: uppercase;
      font-size: 32px;
    }

    span {
      max-width: 450px;
      color: var(--color-2);
    }

    .item {
      margin-top: 1rem;
      display: flex;
      flex-direction: column;
      gap: 0.5rem;

      img {
        height: 75px;
        -o-object-fit: contain;
        object-fit: contain;
      }
    }
  }

  br {
    display: none;
  }

  @media (max-width: 450px) {
    .includes {
      h3 {
        font-size: 24px;
      }
    }
  }
</style>
