@import "../../globals.css";

/* PAYMENT OPTIONS STYLES */
.bg {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #00000040;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 99;
  padding: 1.5rem;

  .modal {
    max-height: 90vh;
    overflow-y: auto;
    background-color: white;
    color: black;
    padding: 2rem;
    border-radius: 32px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
    font-family: "N27";
    z-index: 99;
    padding-bottom: 4rem;

    .title {
      font-size: 32px;
      font-family: "Good times" !important ;
      color: black !important;
    }

    .cryptoContainer {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;

      .cryptos {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1rem;

        .option {
          background-color: black;
          cursor: pointer;
          border: 3px solid #ffef01;
          padding: 0.2rem;
          border-radius: 16px;
          display: flex;
          align-items: center;
          justify-content: center;
          transition-duration: 0.3s;

          .img {
            width: 50px;
            height: 50px;
            -o-object-fit: contain;
            object-fit: contain;
          }

          &:hover {
            transform: scale(1.04);
          }
        }
      }

      .here {
        border: none;
        padding: 0;
        text-decoration: underline;
      }
    }

    .button,
    a {
      text-decoration: none;
      border: 2px solid black;
      color: inherit;
      padding: 0.75rem;
      border-radius: 32px;
      cursor: pointer;
      transition-duration: 0.3s;
      text-transform: uppercase;
      font-family: "Retro gaming";

      &:hover {
        transform: scale(1.04);
      }
    }
  }
}

@media (max-width: 450px) {
  .bg {
    .modal {
      .title {
        font-size: 24px;
      }
    }
  }
}
