@import "../../../globals.css";

/* RENDER TEXT STYLES */
.description {
  margin: 0.5rem 0;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  color: white;

  .line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;

    .key {
      text-align: left;
    }

    .value {
      text-align: right;
    }
  }
}
