:root {
  --color-1: #ff00f0;
  --color-2: #fff001;
  --color-3: #00eaff;
  --color-4: #24d201;
  --color-5: #ff3632;
}

@font-face {
  font-family: "Good times";
  src: url("/fonts/good-times.otf") format("truetype"),
    url("/fonts/good-times.ttf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "N27";
  src: url("/fonts/n27-regular.otf") format("truetype"),
    url("/fonts/n27-regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Retro Gaming";
  src: url("/fonts/retro-gaming.otf") format("truetype"),
    url("/fonts/retro-gaming.ttf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
