---
import Navbar from "../components/Navbar.astro";
import "../globals.css";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <Navbar />
    <slot />
  </body>
</html>
<style is:global>
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
  }

  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: black;
    background-image: url("/assets/background.png");
    background-size: initial;
    background-repeat: repeat;
  }

  @media (min-width: 1300px) {
    body {
      background-size: contain;
    }
  }
</style>
